[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/flysnow-org/maupassant-hugo
[submodule "blog-src"]
	path = blog-src
	url = https://github.com/dai-pch/blog-src.git
[submodule "themes/hyde-hyde"]
	path = themes/hyde-hyde
	url = https://github.com/dai-pch/hyde-hyde.git
